<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#add">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#update">Update</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#delete">Delete</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <!--<div class="container text-center">-->
        <h1>Welcome to Organigram</h1>
        <p class="lead">Below you can see the live rendering of the Organigram</p>
        <p>
          {% for employee in organization %}
            <pre> {{ employee }} </pre>
          {% endfor %}
        </p>
      </div>
    </header>

    <section id="add">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Add Employee</h2>
            <p class="lead">Here you will be able to add new employees to Organigram</p>

            <form action="" method="post" id="add_employee">
              <p class="lead">Please input the name, position and reporting manager of the new employee:</p>
              <ul>
                <p>
                      Name of employee: <input type="text" name="new_name">
                </p>
                <p>
                      Position of employee: <select name="new_position">
                                                <option value="VP">VP</option>
                                                <option value="Manager">Manager</option>
                                                <option value="Consultant">Consultant</option>
                                            </select>
                </p>
                <p>
                      Reporting Manager of employee: <input type="text" name="new_reporting_manager">
                </p>
                <button type="submit" name="add" value="add">Submit</button>
              </ul>
            </form>

          </div>
        </div>
      </div>
    </section>

    <section id="update" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Update Employees</h2>
            <p class="lead">Here you will be able to update any existing employee</p>

            <form action="" method="post" id="update_employee">
              <p class="lead">Please update the employee based on his or her ID:</p>
              <ul>
                <p>
                      ID of employee: <input type="number" name="ID_update">
                </p>
                <p>
                      Name of employee: <input type="text" name="update_name">
                </p>
                <p>
                      Position of employee: <select name="update_position">
                                                <option value=""></option>
                                                <option value="VP">VP</option>
                                                <option value="Manager">Manager</option>
                                                <option value="Consultant">Consultant</option>
                                            </select>
                </p>
                <p>
                      Reporting Manager of employee: <input type="text" name="update_reporting_manager">
                </p>
                    <button type="submit" name="update" value="update">Submit</button>
              </ul>
            </form>

          </div>
        </div>
      </div>
    </section>

    <section id="delete">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Delete employee</h2>
            <p class="lead">From here you will be able to delete an employee based on their ID:</p>

            <form action="" method="post" id="delete_employee">
              <p class="lead">Please delete an employee based on his or her ID:</p>
              <ul>
                <p>
                      ID of employee: <input type="number" name="ID_delete">
                </p>
                <button type="submit" name="delete" value="delete">Submit</button>
              </ul>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Bogdan Vintila 2012</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="static/js/scrolling-nav.js"></script>

  </body>

</html>
